@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather.ttf");
}

@font-face {
    font-family: Yanone;
    src: url("../fonts/Yanone.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.ttf");
}


/* Style for header */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000000;
}

.header {
    background-color: #000000;
    width: 1500px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.div-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    position: relative;
    top: -15px;
    left: -50px;
    transform: rotate(10deg);
}

.text-logo {
    font-size: 60px;
    font-family: Yanone;
    color: #5AE626;
    text-shadow: 1px 1px 1px greenyellow;
    position: relative;
    bottom: -25px;
}

.main-menu {
    font-family: Yanone;
    font-size: 25px;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: -30px;
}

.main-menu a {
    color: #C8C3C1;
    text-decoration: none;
    transition: 0.25s;
}

.main-menu a:hover {
    transform: scale(1.2);
}

.main-menu :nth-child(1) {
    margin-right: 20px;
}

.main-menu :nth-child(2) {
    margin-right: 20px;
}

#now {
    color: azure;
    text-decoration: underline;
}

.header_contact {
    display: flex;
    flex-direction: column;
}

.header_contact p {
    color: white;
    margin: 0;
    font-size: 18px;
    font-family: 'Oswald';
    letter-spacing: 0.7px;
}

.language_div {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.language_div img {
    width: 40px;
    height: 25px;
}

.translate {
    border: none;
    background: transparent;
    padding: 0;
}


/* Style for content */

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: rgba(255, 234, 226, 0.3);
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
    margin: auto;
}

.content_1 {
    background-color: #333e51;
    width: 100%
}

.individual-text {
    background-color: #333e51;
    width: 100%;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    margin: auto;
    width: 1500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/z372_bg.jpg);
    background-size: 100%;
    background-position-y: bottom;
    background-attachment: fixed;
    width: 100%;
}

.image_link a:link{
 text-decoration: none;
}
.image_link a:visited{
 text-decoration: none;
}
.image_link a:active{
 text-decoration: none;
}
.image_link a:hover{
 text-decoration: none;
}
.image h2 {
    font-size: 75px;
    color: white;
    -webkit-text-stroke: 0.3px black;
    font-weight: bold;
    text-shadow: 1px 1px 1.5px #333e51;
    align-self: center;
}

.image p {
    font-size: 35px;
    color: rgb(211, 188, 125);
    font-weight: 600;
    align-self: center;
    margin-top: 0;
    text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.8);
}

.relative {
    position: relative;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.relative-text {
    position: relative;
    left: -100px;
}

.ind {
    font-size: 30px;
    font-weight: bolder;
    font-family: Oswald;
    margin: 0;
    color: white;
}

.hr1 {
    width: 300px;
    background-color: #fff;
    border-color: #fff;
    color: #fff
}

.hr2 {
    color: #000000;
    width: 1350px;
    margin: auto;
    height: 2px;
}

.p1 {
    text-align: center;
    font-size: 45px;
    font-family: Yanone;
}

.hr3 {
    color: greenyellow;
    margin: auto;
    width: 150px;
    margin: 0;
    background-color: greenyellow;
}

.hr4 {
    color: #143E51;
    margin: auto;
    width: 450px;
    background-color: #143E51;
}

.our-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 300px;
}

.div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -50px;
}

.info div {
    display: flex;
    flex-direction: row;
}

.div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px 0;
}

.info p {
    margin-right: 15px;
}

.div3 {
    display: flex;
    justify-content: center;
}

.button {
    font-weight: bolder;
    font-size: 18px;
    margin: auto;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid black;
    color: black;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
}

a.button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

a.button:hover:after {
    border-color: black;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

.button9 {
    color: black;
    text-decoration: none;
    transition: 0.25s;
}

.button9 img {
    width: 39px;
    height: 39px;
}

.button9 div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button9 {
    margin: auto;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid black;
    color: black;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
}

a.button9:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

a.button9:hover:after {
    border-color: black;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

.our_our {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.button-1 {
    color: wheat;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
    margin: 75px 0;
}

.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #333e51;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.button-1:hover:before {
    transform: translate(4px, 4px);
}

.after_houses {
    position: relative;
    top: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: -65px;
}

.black {
    background-color: #000000;
    width: 5500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.p3 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 45px;
    font-family: Yanone;
}

.google_maps {
    width: 100%;
    height: 450px;
    background-image: url(../images/google_maps.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inframe {
    position: relative;
    width: 100%;
    height: 450px;
    border: none;
    display: none;
    margin-bottom: 50px;
}

.google_maps p {
    position: absolute;
}

.ppp {
    margin-top: 0;
    margin-bottom: 100px;
}


/*      Style for footer    */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.footer {
    width: 1450px;
    height: 150px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #C8C3C1;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.pochta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail img {
    width: 50px;
    height: 40px;
    margin-right: 15px;
}

.mail p {
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}