.galery{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    width:100%;
    

    margin: 0;
    padding: 0;
}
.my{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
.my2{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
}
 .my img{
    width: 70%;
 }

 .service__ul{
     background-color: black;
     color: white;
     width: 100%;
     display: flex;
     justify-content: center;
 }
 .service__ul ul{
     display: flex;
     flex-wrap: wrap;
     width: 60%;
     padding: 0;
     font-size:  calc(16px + 16 * ((100vw - 320px) / (1500 - 320)));
    text-align: center;
    }
 .service__ul li{
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items:center;
     width: 33.33%;

     
 }

.galery img{
    width: 40%;
    margin: 0 10px 10px 0;
}
.my2 h2{
    font-size:  calc(35px + 16 * ((100vw - 320px) / (1500 - 320)));
    
}
.my2 p{
    font-size:  calc(21px + 16 * ((100vw - 320px) / (1500 - 320)));
    
}
.gelerys{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    width:100%;
    

    margin: 0;
    padding: 0;
}
hr{
    background:#fff;
    color:#fff;
    border-color: #fff;

    width:100%;
}

.text_gelery{
    color: white;
    text-align: center;

    font-family: Oswald;
    font-size:  calc(35px + 16 * ((100vw - 320px) / (1500 - 320)));
    font-weight: 600;

    margin:25px 0;
}

.servic{
    padding-top: 110px;
    background-color: #fff;
}
.wrap__div{
    width: 33%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border:1px solid white;
    margin-right: 10px;
    margin-bottom: 10px;

    box-shadow: 0 0 5px white;
}
.wrap__div p{
    color:#fff;
    width: 90%;
}
.wrap__div h2{
    color:#fff;
    
}

.wrap__div img{
    width: 100%;
}
.servic__content{
    padding-top: 110px;
    width: 100%;
}
.wrap__2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrap__3{
    display: none;
}
@media (max-width:1024px){
    .servic__content{
        padding-top: 130px;
    }
    .text_gelery{
        margin: 15px 0;
    }
}
@media (max-width:767px) {
    .content.servic{
        padding-top: 70px;
    }
    .my2 h2{
        text-align: center;
    }
    .service__ul{
        width: 100%;
    }
    .service__ul ul{
        width:80%;
    }
    .servic__content{
        padding-top: 80px;
    }
    .header_contact p:nth-child(2) {
        margin-top: 0;
    }
    .header__menu {
        display: flex;
    }
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 60px;
    }
    .header__logo img {
        max-height: 60px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-right: 20px;
        margin-left: 40px;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before, .header__burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333e51;
        color: white;
        transition: 0.3s;
        padding: 0px 10px 20px 0;
        overflow: auto;
    }
    .header__menu.active {
        top: 0;
        display: flex;
    }
    .header__list {
        padding-top: 100px;
        display: block;
    }
    .header__list li {
        margin-bottom: 20px;
    }
    .header__list li:hover {
        transform: none;
    }
    .header_contact {
        font-size: 17px;
    }
    .header_contact P {
        margin-top: 0;
    }
    .header__menu.bottom {
        display: none;
        padding: 0;
    }
    .header__hr {
        height: 50px;
    }
    .container.big_picture_div {
        margin-top: 70px;
    }
    .big_picture {
        margin-top: 70px;
        max-height: 400px;
    }
    .big_picture_div {
        margin-top: 70px;
        height: 400px;
    }
    .relative {
        height: 475px;
        flex-direction: column;
    }
    .our {
        flex-direction: column;
    }
    .p1{
        margin: 40px 0 25px 0;
    }
    .footer__img{
        display: none;
    }
}
@media(max-width:648px){
    .wrap__2{
        display: none;
    }
    .wrap__3{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .wrap__div{
        width: 50%;
    }
}
@media(max-width:592px){
    .my2{
        flex-direction: column;
    }
    .my2 img{
        width:80%;
    }
}
@media(max-width:589px){
    #galery2{
        flex-direction: column;
        align-items:center
        
    }
    .galery img{
        width:90%;
        margin:0;
        margin-bottom: 10px;
    }
}
@media(max-width:531px){
    .text_gelery{
        margin: 5px 0;
    }
}