.body {
    background-image: url(../images/bg-home.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed
}

.our {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Yanone;
    width: 100%;
    position: relative;

    font-size: 20px;
}

.our img {
    display: flex;
    margin: 0;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #212F3D;
    padding: 0 15px;
}

.description div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.p2 {
    color: #FFF;
    font-family: Yanone;
    font-weight: 900;
    font-size: calc(21px + 16 * ((100vw - 320px) / (1500 - 320)));
    margin: 0;
}

.hr5 {
    background-color: #fff;
    border-color: #fff;
    width: 1px;
    height: 50px;
    margin: 0 20px;
}

.description2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.description2 p {
    color: white;
}

.number {
    font-family: Oswald;
    font-size: calc(17px + 16 * ((100vw - 320px) / (1580 - 320)));
    font-weight: 600;
    color: #FFDED8
}

.description2 a {
    transition: 0.7s;
}

.description2 a:hover {
    transform: rotate(45deg);
    transform: scale(1.45)
}

.our1 {
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
 
    margin: 0;
    position: relative;
    width: 50%;
    height: 100%;
}

.hr6 {
    background:  ;
    color: #FFC984;
    border: none;
    width: 100%;
    height: 5px;
    margin: 0;
}

#our1 {
    right: -50px;
}

#our3 {
    top: -40px;
    right: -50px;
}

#our4 {
    top: -40px;
    left: -50px;
}

#our5 {
    top: -80px;
    right: -50px;
}

#our6 {
    top: -80px;
    left: -50px;
}

.our-houses {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.our-houses p {
    font-family: Oswald;
    font-size: 45px;
    font-weight: 600;
    color: white;
}

.our_hr {
    background: #fff;
    color: #fff;
    border-color: #fff;
    width: 208.53px;
    height: 2.5px;
    margin: 0;
}

.our_text {
    margin: 10px 0;
    text-shadow: 0.5px 0.5px 0.5px gray;
}

.katalog_image {
    transition: 0.85s;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.katalog_button {
    color: white;
    opacity: 0;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: 0.85s;
    padding: 20px 50px;
    font-size: 40px;
    display: none;
}

.container2 {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
    overflow: hidden;

}

.centered {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.z372_house {
    display: flex;
    flex-direction: row;
    width:  100%;
}

.z372_house_img {
    width: 70%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.z372_house_name {
    color: #FFF;
    font-family: Yanone;
    font-weight: 900;
    font-size: 50px;
}

.description3 {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    background-color: #212F3D;
    color: white;
    width: 30%;
}

.description3 p {
    color: white;
    font-weight: 600;
}

.square {
    margin-left: 50px;
    font-size: 30px;
}

.square_div {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.big_description {
    font-family: Montserrat;
    text-indent: 5%;
    line-height: 130%;
    letter-spacing: 1.5px;
    margin-top: 75px;
}

.square_div hr {
    width: 100%;
}

.bgc {
    background-color: #212F3D;
}

.plan {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.z372_house_plan {
    width: 100%;
    background-color: #fff;
    padding: 50px 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.z372_house_plan_imgdiv {
    display: flex;
    flex-direction: column;
}

.z372_house_img_plan {
    width: 65%;
    margin-right: 35px;
}
.z1511{
    width: 100%;
}

.z372_house_img_plan_description {
    font-family: Yanone;
    font-weight: normal;
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 50%;
    margin-left: 35px;
}

.z372_house_img_plan_description p {
    white-space: nowrap;
    font-size: calc(28px + 16 * ((100vw - 320px) / (1500 - 320)));;
}

.description_span {
    font-family: Oswald;
    font-style: normal;
    font-weight: 900;
    font-size: calc(23px + 16 * ((100vw - 630px) / (1500 - 632)));
    letter-spacing: 0.05em;
    color: #000000;
}
.description.displays{
    display: none;
}
.second__description{
    display: none;
}

@media(max-width:1219px){
  .description3{
      padding: 0 10px 0 15px;
  }
}
@media(max-width:1024px){
    .big_description{
        margin-top: 0;
    }
    .z372_house_name {
        margin-bottom: 0;
    }
    .z372_house_img_plan{
        width:100%;
    }

}
@media(max-width:1024px){
    .z372_house_plan{
        padding: 25px 100px;
    }
}
@media(max-width:868px){
    .z372_house_plan{
        padding: 25px 50px;
    }
}
@media(max-width:802px){
    .z372_house_plan{
        padding-left: 10px;
    }
}
@media(max-width:968px){
    .z372_house{
        flex-direction: column;
    }
    .z372_house_img {
        width: 100%;
    }
    .description3{
        width: 100%;
        flex-direction: column-reverse;
    }
    .square_div{
        display: none;
    }
    .name__div{
        display: none;
    }
    .description.displays{
        display: flex;
    }
    .second__description{
        display: flex;
    }
    .big_description{
        margin-bottom: 15px;
    }
    .p2{
        font-size: calc(25px + 16 * ((100vw - 320px) / (1500 - 320)));
    }
}
@media(max-width:767px) {
    .our {
        flex-direction: column;
    }
    #our2 {
        left: 0;
    }
    .our1 {
        transform: scale(1);
        width: 90%;
    }
    #our2 {
        margin: 25px 0;
    }
}
@media(max-width:741px){
    .z372_house_plan{
        flex-direction: column-reverse;
        padding-right: 0;
    }
    .z372_house_plan_imgdiv{
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .z372_house_img_plan{
        width: 50%;
    }
    #z151__id{
        width:100%;
    }
    .z372_house_img_plan_description{
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
}
@media(max-width:350px){
    .description3{
        flex-direction: column;
    }
    .square_div{
        display: block;
    }
    .name__div{
        display: block;
    }
    .second__description{
        display: none;
    }
    .z372_house_name{
        margin-top: 10px;
    }
    .square_div p{
        margin:0;
    }
    .big_description{
        margin-top: 15px;
    }
}