@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather.ttf");
}

@font-face {
    font-family: Yanone;
    src: url("../fonts/Yanone.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.ttf");
}

/* Style for header */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: black;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__list li {
    list-style: none;
    margin-left: 20px;
    color: #C8C3C1;
    text-decoration: none;
    transition: 0.5s;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
    font-family: Yanone;
    font-size: 25px;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header__list li:hover {
    transform: scale(1.2);
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__logo {
    position: relative;
    z-index: 3;
}

.header__logo img {
    max-height: 100px;
}

.header__burger {
    display: none;
}

.header___ {
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.contact_ {
    display: none;
}

.header_contact {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__hr {
    background-color: #fff;
    border: none;
    height: 80px;
    width: 1px;
    margin: 0 20px;
}

.header_contact p {
    color: white;
    margin: 0;
    font-size: 18px;
    font-family: 'Oswald';
    letter-spacing: 0.7px;
}

.language_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.translate img {
    width: 40px;
    height: 25px;
}

.translate {
    border: none;
    background: transparent;
    padding: 0;
}

#now {
    text-decoration: underline;
}

.header__p {
    font-family: 'Oswald';
    font-weight: 800;
    font-size: 24px;
    background-color: r;
}

.header_contact p:nth-child(2) {
    margin-top: 15px;
}

.header__hr2 {
    width: 100%;
}

.header__menu.bottom {
    display: none;
}

 .content {
    max-width:1500px;
    width: 100%;
    margin-top: 110px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
} 

.big_picture_div {
    margin-top: 110px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_picture {
    margin-top: 110px;
    max-height: 450px;
    width: 100%;
    max-width: 1500px;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.cherga {
    font-size: 75px;
    color: white;
    -webkit-text-stroke: 0.3px black;
    font-weight: bold;
    text-shadow: 1px 1px 1.5px #333e51;
    align-self: center;
    position: relative;
    text-align: center;
}

.cherga_p {
    font-size: calc(30px + 16 * ((100vw - 320px) / (1580 - 320)));
    color: GAINSBORO;
    font-weight: 600;
    align-self: center;
    margin-top: 0;
    text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.8);
    position: relative;
    left: -25%;
    top: 30%;
    text-align: left;
    margin: 20px;
    background: rgba(0, 0, 0, 0.5);
}

/* Style for content */

body {
    margin: 0;
    padding: 0;
    background: rgba(255, 234, 226, 0.3);
}




.container.content_container {
    padding: 0;
}

.image_link a:link {
    text-decoration: none;
}

.image_link a:visited {
    text-decoration: none;
}

.image_link a:active {
    text-decoration: none;
}

.image_link a:hover {
    text-decoration: none;
}

.relative {
    position: relative;
    color: wheat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333e51;
    width: 100%;
    height: 400px;
}

.relative-text {
    margin-left: 15px;
}

.ind {
    font-size: calc(26px + 16 * ((100vw - 320px) / (1580 - 320)));
    
    font-weight: bolder;
    font-family: Oswald;
    margin: 0;
    color: white;
}

.hr1 {
    width: 300px;
    background-color: #fff;
    border-color: #fff;
    color: #fff
}

.hr2 {
    color: #000000;
    width: 1350px;
    margin: auto;
    height: 2px;
}

.p1 {
    text-align: center;
    font-size: calc(45px + 16 * ((100vw - 320px) / (1580 - 320)));
    font-family: Yanone;
}

.hr3 {
    color: greenyellow;
    margin: auto;
    width: 150px;
    margin: 0;
    background-color: greenyellow;
}

.hr4 {
    color: #143E51;
    margin: auto;
    width: 450px;
    background-color: #143E51;
}

.our-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -50px;
}

.info div {
    display: flex;
    flex-direction: row;
}

.div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px 0;
}

.info p {
    margin-right: 15px;
}

.div3 {
    display: flex;
    justify-content: center;
}

.button {
    font-weight: bolder;
    font-size: 18px;
    margin: auto;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid black;
    color: black;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
}

a.button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

a.button:hover:after {
    border-color: black;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

.button9 {
    color: black;
    text-decoration: none;
    transition: 0.25s;
}

.button9 img {
    width: 39px;
    height: 39px;
}

.button9 div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button9 {
    margin: auto;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid black;
    color: black;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
}

a.button9:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

a.button9:hover:after {
    border-color: black;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

.our_our {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.button-1 {
    color: wheat;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
    margin: 75px 0;
}

.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #333e51;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}

.button-1:hover:before {
    transform: translate(4px, 4px);
}

.after_houses {
    position: relative;
    top: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: -65px;
}

.black {
    background-color: #000000;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.fullscreen {
    background-color: #1E2627;
}

.p3 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: calc(45px + 16 * ((100vw - 320px) / (1580 - 320)));
    font-family: Yanone;
}

.google_maps {
    width: 100%;
    height: 450px;
    background-image: url(../images/google_maps.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inframe {
    position: relative;
    width: 100%;
    height: 450px;
    border: none;
    display: none;
    margin-bottom: 50px;
}

.google_maps p {
    position: absolute;
}

.ppp {
 
    margin-top: 50px;
    margin-bottom: 15px;
}


/*      Style for footer    */
.maps_fullscreen{

    width: 100%;
}
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.footer {
    width: 100%;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #C8C3C1;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail img {
    width: 50px;
    height: 40px;
    margin-right: 15px;
}

.mail p {
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.footer__logo {
    max-height: 100px;
    width:166.66px;
}
.footer__div{
    display: none;
}

.container.z372__div{
    padding-top: 110px;
}
#footer__logo{
    width:166.66px;
}
/* MEDIA */
.first__cherga{
    width: 15%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F28291;
    border-radius: 100%;
    margin-top: 3px;
    margin-right: 3px;

    transition: 0.3s;
}
.first__cherga.second{
    background-color: #26AB8F;
}
.first__cherga p{
    text-align: center;
    color:white;
    font-size: calc(16px + 16 * ((100vw - 320px) / (1500 - 320)));

}
@media (min-width:1500px) {
    .max {
        font-size: max(49px);
    }
   .ind.max{
    font-size: max(49px);
   }
   .p3.max{
    font-size: max(49px);
   }
}
@media (max-width:1500px){
    .container{
        max-width:100%;
        width:100%;
    }
}
@media (max-width:1024px) {
    .header__menu {
        display: none;
    }
    .header__menu.bottom {
        height: auto;
        display: flex;
        width: 100%;
        padding: 100px 0 10px 0;
        position: fixed;
        z-index: 3;
        background-color: #202733;
    }
    .black{
        margin-bottom: 0;
    }
    .ppp{
        margin-top: 25px;
    }
    .p1{
        margin-bottom: 25px;
    }
    .header__body {
        height: 80px;
    }
    .header__logo img {
        max-height: 80px;
    }
}

@media (max-width:953px) {
    .cherga_p {
        left: 0;
    }
}

@media (max-width:767px) {
    .container.z372__div{
        padding-top: 70px;
    }
    .header_contact p:nth-child(2) {
        margin-top: 0;
    }
    .header__menu {
        display: flex;
    }
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 60px;
    }
    .header__logo img {
        max-height: 60px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-right: 20px;
        margin-left: 40px;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before, .header__burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333e51;
        color: white;
        transition: 0.3s;
        padding: 0px 10px 20px 0;
        overflow: auto;
    }
    .header__menu.active {
        top: 0;
        display: flex;
    }
    .header__list {
        padding-top: 100px;
        display: block;
    }
    .header__list li {
        margin-bottom: 20px;
    }
    .header__list li:hover {
        transform: none;
    }
    .header_contact {
        font-size: 17px;
    }
    .header_contact P {
        margin-top: 0;
    }
    .header__menu.bottom {
        display: none;
        padding: 0;
    }
    .header__hr {
        height: 50px;
    }
    .container.big_picture_div {
        margin-top: 70px;
    }
    .big_picture {
        margin-top: 70px;
        max-height: 400px;
    }
    .big_picture_div {
        margin-top: 70px;
        height: 400px;
    }
    .relative {
        height: 475px;
        flex-direction: column;
    }
    .our {
        flex-direction: column;
    }
    .p1{
        margin: 40px 0 25px 0;
    }
    .footer__img{
        display: none;
    }
}

@media (max-width:588px) {
    .contact_ {
        display: block;
    }
    .header_contact {
        display: none;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .relative {
        height: 400px;
    }
    .mail{
        display: none;
    }
    .contact{
        display: none;
    }
    .footer__div{
        display: flex;
        flex-direction: column;
        font-size: calc(14px + 16 * ((100vw - 320px) / (1580 - 320)));
    }
    .footer__div p {
        margin: 0 ;
    }
    footer{
        justify-content: space-between;
    }
    .footer{
        height: 65px;
    }
    .footer__logo{
        max-height: 65px;
        width:100px
    
    }
    #footer__logo{
        width:100px;
    }
    

}

@media (max-width:540px) {
    .big_picture {
        height: 100%;
        max-height: 350px;
    }
    .big_picture_div {
        height: 350px;
    }
}
@media(max-width:450px){
    .first__cherga{
        height: 18%;
    }
}
@media(max-width:400px){
    .hr1{
        width: 200px;
    }
}

@media (max-width:362px) {
    .header__burger {
        margin-left: 20px;
    }
    .translate img {
        width: 30px;
        height: 20px;
    }
    .header__hr {
        display: none;
    }
    #ru {
        margin-right: 30px;
    }
}



@media (max-width:276px) {
    .header__logo {
        transform: scale(0.9);
        position: relative;
        left: 0;
    }
}


@media(max-width:242px) {
    #ru {
        margin-right: 10px;
    }
}

