* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container2 {
    position: relative;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 820px;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev{
    left: 0;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;

    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.5s;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  
  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
    background-color:rgba(0, 0, 0, 0.6);
    position:relative;
    
    padding: 15px 0;
    height:150px;
  }

  .row:after {
    content: "";
    
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 14%;
    
    transition: 0.5s;

    
    border-radius: 18px;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.95;
    filter:blur(0.5px) brightness(0.8);
    
    border-radius: 10px;

    width: 100%;
    height: 100%;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
    filter:blur(0) brightness(1);
  }

.margin{
    margin-right: 15px;
}


    
@media(max-width:1241px){
  .row{
      height: 100px;
      padding: 5px 0;
  }
}
@media(max-width:1024px){
  .mySlides{
    height: 600px;
  }
  .row{
    height: 90px;
  }
}
@media(max-width:968px){
  .mySlides {
    height: 500px;
  }
}
@media(max-width:581px){
    .row{
      height: 75px;
    }
}
@media(max-width:480px){
  .mySlides{
    height: 400px;
  }
}
@media(max-width:409px){
    .row{
      height: 45px;
    }
}

