.galery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width:100%;
    padding: 0 15px;
    margin:0 auto;

   margin-top: 50px;;
}

.galery img{
    width:40%;
    margin: 0 15px 15px 0;
}

hr{
    background:#fff;
    color:#fff;
    border-color: #fff;

    width:100%;
}

.text_gelery{
    color: white;
    text-align: center;

    font-family: Oswald;
    font-size: 45px;
    font-weight: 600;

    margin:25px 0;
}
/* .container.galerry__container{
    margin-top: 110px;
}
@media(max-width:767px){
    .container.galerry__container{
        margin-top: 70px;
    }
} */