.body{
    background-image: url(../images/bg-home.jpg);
    background-repeat: repeat-y;
    background-size:100%;
    background-attachment: fixed
}


.our{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: Yanone;

    width: 1500px;

    

    position: relative;
}


.our p{
    
   
}

.our img{
        display: flex;

        width:797px;
        height:516px;

        margin:0
}

.description{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

    background-color:#212F3D;

    padding: 0 15px;
}

.description div{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.p2{
    color:#FFF;
    font-family: Yanone;
    font-weight: 900;
    font-size: 30px;

    margin:0;
   
}

.hr5{background-color: #fff;
    border-color:#fff;

    width:50px;
    height:1px;

    transform: rotate(90deg);

    margin:0;

    max-width: 70px;
    
}

.description2{
    display: flex;
    flex-direction:row ;
    justify-content: left;
}

.description2 p{
    color:white;
}

.number{font-family: Oswald;
        font-size: 22px;
        font-weight: 600;
        color:#FFDED8
        
}

.description2 a{
    transition: 0.7s;
    
    
}
.description2 a:hover{
    transform: rotate(45deg);
    transform: scale(1.45)
    
}

.our1{transform:scale(0.85);

    display: flex;
    flex-direction: column;

    margin:0;

    position: relative;

}

.hr6{background:#FFC984;
    color:#FFC984;
    border-color: #FFC984;

    width:795px;
    height:5px;

    margin:0;
}

#our1{
    right:-50px;
}
#our2{
    left:-50px;
}

#our3{
    top:-40px;
    right:-50px;
}

#our4{
    top:-40px;
    left:-50px;
}
#our5{
    top:-80px;
    right:-50px;
}

#our6{
    top:-80px;
    left:-50px;
}

.our-houses{margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.our-houses p{
    font-family: Oswald;
    font-size: 45px;
    font-weight: 600;
    

    color:white;

}

.our_hr{
    background:#fff;
    color:#fff;
    border-color: #fff;

    width:208.53px;
    height:2.5px;

    margin:0;
}

.our_text{
    margin:10px 0;
    text-shadow: 0.5px 0.5px 0.5px gray;
}

.katalog_image{
    transition: 0.85s;
}

.katalog_button{color:white;
                opacity: 0;
                border: 2px solid rgba(255, 255, 255, 0);
                transition: 0.85s;
                padding:20px 50px;
                font-size: 40px;
                display: none;
}



.container{
    position: relative;
    text-align: center;
    color: white;
}

.centered{display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


